* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* === Paleta de Cores === */
    --background-color-body: #EFF1FF;
    --background-color-before: #8E9AAF;

    --color-h1: #FFF;
    --color-h1-background: #CBC0D3;
    --color-p-main: #23053A;
    --color-span-main: #4A4E69;
    --color-span-background: #FEEAFA;

    /* === Controle de fonte === */
    font-size: 62.5%;
}


body {
    background: var(--background-color-body);
}

body::before {
    content: '';
    width: 100%;
    height: 28rem;
    background: var(--background-color-before);

    position: absolute;
    top: 0;
    z-index: -1;
}

header {
    text-align: center;
}

header img {
    width: 13.7rem;
    height: 13.7rem;

    margin: 3.2rem;
}

header h1 {
    color: var(--color-h1);

    font-weight: 400;
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 5px;

    background-color: var(--color-h1-background);
    padding: 8px;

    margin-bottom: 5rem;
}

h1, span {
    font-family: 'Staatliches', cursive;
}

p {
    font-family: 'Palanquin', sans-serif;
}

main {
    max-width: 32rem;
    margin: 0 auto;
    padding: 0 1rem;
}

main p {
    color: var(--color-p-main);

    max-width: 30.5rem;
    margin: 0 auto 6.3rem;
    
    
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7rem;

    text-align: center;
}

.cards {
    display: grid;
    gap: 3.6rem;
}

.card {
    position: relative;

    max-width: 32rem;
}

.card span {
    color: var(--color-p-main);

    position: absolute;
    top: 1.7rem;
    right: 2rem;

    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 1px;

    padding: 2px 20px;

    border-radius: 20px;

    background: var(--color-span-background);
}

.card img {
    max-width: 100%;
}